// ESTILO CONTACTO
.contactoSec {
    background: linear-gradient(45deg, transparent, $color4, $color3, $color2);

    .contactoContenedor {
        width: 100%;
        margin: 0;
        display: flex;
        padding: 4em;

        .formulario {
            background-color: #444;
            height: 50vh;
            padding: 1%;
            flex-grow: 3;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: repeat(7, 1fr);

            .formulario__input {
                background-color: transparent;
                color: $color4;
                border: none;
                border-bottom: 3px solid $color2;
                font-size: 0.9em;
                height: 50%;
                margin: 0 1%;
                outline: none;

                &:focus {
                    background: linear-gradient(transparent, #333);
                    border-bottom: 3px solid $color4;
                }
            }

            .formulario__textarea {
                background-color: transparent;
                color: $color4;
                border: none;
                border-bottom: 2px solid $color2;
                font-size: 110%;
                resize: none;
                outline: none;
                grid-row: 3 /7;
                grid-column: 1/3;

                &:focus {
                    background: linear-gradient(transparent, #333);
                    border-bottom: 3px solid $color4;
                }
            }

            .formulario__button {
                color: $color4;
                background-color: $color0;
                border: 3px solid #444;
                outline: 2px solid $color2;
                margin: 1em 0;
                grid-column: 1/3;
            }
        }

        .contactoRedes {
            padding: 0 3em;
            margin-left: 8em;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .listaLinks {
                list-style: none;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-grow: 1;

                .listaLinks__item {
                    color: $color0;
                    font-size: 150%;

                    .listaLinks__icon {
                        margin: 5% 0;
                        margin-right: 1em;
                    }

                    .listaLinks__link {
                        color: $color4;
                        text-decoration: none;
                        text-shadow: 2px 1px 2px $color0;

                        &:hover {
                            color: $color3;
                        }
                    }
                }
            }
        }
    }
}