// Extra
main {
    background-color: $color4;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: $color3;
    text-decoration: underline $color2;
    text-shadow: 3px 2px 2px $color0;
    font-size: 50px;
}