// Footer
footer {
    background-color: $color4;
    background: linear-gradient(45deg, $color4, $color3, $color2, $color1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .row {
        width: 100%;
    }

    .redes {
        padding: 1em 0;

        .redes__span {
            color: #000;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: underline;
        }

        .redesLinks {
            margin-left: 25%;
            list-style: katakana;

            .redesLinks__item {
                color: #000;
                font-size: 1.1em;
                font-weight: bold;
            }
        }
    }

}