// RESPONSIVE MEDIA QUERIES
@media only screen and (min-width:320px) and (max-width:575px) {
    header{
        padding: 0;
        .nav{
            width: 100%;
            margin: 0;
            padding: 1em 0;
            .logoTitulo{
                display: flex;
                width: 85%;
                .logoTitulo__linkLogo{
                    @include imgSize(3em)
                }
                .logoTitulo__titulo{
                    font-size: 1.5em;
                }
            }
        }
        .header__flechaHome{
            @include imgSize(2.7em);
            right: .5em;
            bottom: .5em;
        }
    }

    main{
        margin-top: 14vh;
    }

    .mainIndex {
        .conocimientos{
            .conocimientosTexto{
                background: linear-gradient(#0008, #0008);
                padding: 0;
                grid-template-columns: repeat(4, 3.8em);
                grid-column-gap: 1em;
                .conocimientosTexto__h3{
                    font-size: 1.3em;
                    text-shadow: 1px 1px 2px #000;
                    grid-column: 1/5;
                }
                .tecnologia{
                    margin: 0;
                    .tecnologia__span{
                        font-weight: bold;
                        text-shadow: 1px 1px 2px #000;
                    }
                }
                .descripcion__p{
                    text-shadow: 1px 1px 2px #000;
                }
            }
        }

        .sobreMiSec {
            display: inline-block;
            padding: 2em 1em;
            .row {
                .retratoImg {
                    margin: auto;
                    @include imgSize(15em)
                }
                .bio{
                    margin: 1em 0;
                    .bioTexto{
                        text-align: center;
                        font-size: .7em;
                        line-height: 1.1;
                    }
                }
            }
        }

        .proyectosPrevSec{
            .carousel__container{
                .carousel-inner{
                    img{
                        @include imgSize(15em)
                    }
                }
            }
        }
    }

    .mainProyectos{
        .proyecto{
            display: flex;
            flex-direction: column;
            .proyecto__img{
                @include imgSize(15em);
                border: .3em solid transparent;
                outline: .7em ridge $color1;
                margin: 1em auto;
            }
            .proyecto__h2{
                font-size: 2em;
                text-shadow: 1px 1px 1px #000;
            }
            .proyecto__p{
                font-size: 1em;
                line-height: 1;
                text-align: center;
            }
        }
        .canalYT{
            display: flex;
            flex-direction: column;
            .canalYT__h2{
                font-size: 2.04em;
                margin: 0;
                span{
                    margin: 0;
                }
            }
            .canalYTTexto__p{
                font-size: .7em;
                line-height: 1;
                margin: 0;
            }
            .canalYTTexto__link{
                font-size: .7em;
            }
            iframe{
                width: 100%;
                height: 35vh;
            }
        }
    }

    .mainContacto{
        .contactoContenedor{
            padding: 1em;
            display: flex;
            flex-direction: column;
            .formulario{
                width: 100%;
                margin: 0;
            }
            .contactoRedes{
                margin: 0;
                padding: 0;
                .listaLinks{
                    .listaLinks__item{
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    footer{
        .footer__img{
            margin: 0;
            @include imgSize(6em);
            flex-grow: 3;
        }
        .redes{
            width: 50%;
            margin-left: 3em;
            font-size: .5em;
            flex-grow: 1;
            .redesLinks{
                margin: 0 0 0 2em;
            }
        }
    }

    h2{
        font-size: 2.2em;
        text-shadow: 1px 1px 1px #000;
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {

    .mainIndex,
    .mainProyectos,
    .mainContacto {
        margin-top: 22vh;
    }

    .mainIndex {
        .sobreMiSec {
            display: inline-block;

            .row {
                display: inline-block;

                .retratoImg {
                    margin-right: 1em;
                    float: left;
                    @include imgSize(17em)
                }
            }
        }

        .bio {
            .bioTexto {
                font-size: .8em;
                line-height: 1.2;
            }
        }
    }

    .proyectoContenedor {
        .proyecto {
            padding: 2em;
            grid-column-gap: 5%;
            grid-template-rows: 20% 80%;

            .proyecto__img {
                @include imgSize(15em);
                float: none;
            }

            .proyecto__h2 {
                margin-top: -.5em;
                font-size: 2em;
                text-shadow: 1px 1px 1px $color0;
            }

            .proyecto__p {
                font-size: 1.2em;
            }
        }
    }

    .canalYT {
        display: flex;
        flex-direction: column;

        .canalYT__h2 {
            font-size: 2.6em;
        }

        iframe {
            width: 100%;
        }
    }

    .mainContacto {
        .contactoContenedor {
            margin: 0;
            padding: 1em;
            display: flex;
            flex-direction: column;

            .formulario {
                height: 60vh;
                border-radius: 2%;
            }

            .contactoRedes {
                text-align: center;
                margin: 2em 0;
                padding: 0;

                .listaLinks {
                    justify-items: start;
                    font-size: .8em;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    .mainIndex,
    .mainProyectos,
    .mainContacto {
        margin-top: 22vh;
    }

    .mainIndex {
        .sobreMiSec {
            display: inline-block;

            .row {
                display: inline-block;

                .retratoImg {
                    margin-right: 2em;
                    float: left;
                    @include imgSize(19em)
                }

                .bio {
                    margin-top: -4vh;

                    .bioTexto {
                        line-height: 1.2;
                        font-size: .9em;
                    }
                }
            }
        }
    }

    .mainProyectos {
        .proyectoContenedor {
            .proyecto {
                padding: 2em;
                grid-template-rows: 20% 80%;
                grid-column-gap: 5%;

                .proyecto__img {
                    @include imgSize(15em);
                    float: none;
                }

                .proyecto__h2 {
                    margin-top: -.5em;
                    font-size: 2.5em;
                    text-shadow: 1px 1px 1px $color0;
                }

                .proyecto__p {
                    font-size: 1.5em;
                }
            }
        }

        .canalYT {
            display: flex;
            flex-direction: column;

            .canalYT__h2 {
                font-size: 2.6em;
            }

            iframe {
                width: 100%;
                height: 50vh;
            }
        }
    }

    .mainContacto {
        .contactoContenedor {
            margin: 0;
            padding: 4em;
            display: flex;
            flex-direction: column;

            .formulario {
                height: 70vh;
                border-radius: 2%;
            }

            .contactoRedes {
                text-align: center;
                margin: 2em 0;
                padding: 0;

                .listaLinks {
                    justify-items: start;
                    font-size: .9em;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                }
            }
        }
    }
}