// Footer
footer {
    background-color: $color4;
    background: linear-gradient(45deg, $color4, $color3, $color2, $color1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .footer__img {
        @include imgSize(10em);

        img {
            @include imgSize(100%);
        }
    }

    .redes {
        padding: .5em 0;

        .redes__span {
            color: #000;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: underline;
        }

        .redesLinks {
            margin-left: 20%;
            list-style: katakana;

            .redesLinks__item {
                color: #000;
                font-size: 1.1em;
                font-weight: bold;

                .redesLinks__link {
                    color: $color3;
                    text-shadow: 1px 1px 1px $color1;
                }
            }
        }
    }

}