* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@import "sass/variables";
@import "sass/extra";
@import "sass/header";
@import "sass/footer";
@import "sass/estilo-index";
@import "sass/estilo-proyectos";
@import "sass/estilo-contacto";
@import "sass/estilo-error404";
@import "sass/media";